<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.employefy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/icon2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <service
            android:name=".Services.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <activity android:name=".ViewProfileActivity"
            android:theme="@style/cardgenerationActivityTheme"
            android:parentActivityName=".EmployeListActivity"></activity>
        <activity android:name=".CardGenerationActivity"
            android:theme="@style/cardgenerationActivityTheme"
            android:parentActivityName=".LoginActivity_Employe"/>
        <activity
            android:name=".requestProfileActivity"
            android:theme="@style/selectionTheme" />
        <activity
            android:name=".SignupActivity_Employe"
            android:theme="@style/selectionTheme" />
        <activity
            android:name=".LoginActivity_Employe"
            android:theme="@style/selectionTheme" />
        <activity
            android:name=".EmployeListActivity"
            android:theme="@style/cardgenerationActivityTheme"
            android:parentActivityName=".LoginActivity_Manager"/>
        <activity
            android:name=".LoginActivity_Manager"
            android:theme="@style/selectionTheme" />
        <activity
            android:name=".SelectionActivity"
            android:theme="@style/selectionTheme" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/splashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>